<h1>Month Expenses</h1>

<div class="card">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @current_month_expenses.each do |key, value| %>
      <tr>
        <td><%= key.name %></td>
        <td><%= value %></td>
      </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= @total_month_expenses %></strong></td>
      </tr>
    </tbody>
  </table>
</div>
